{% extends 'base.html.twig' %}

{% block page_header %}Kondygnacja{% endblock page_header %}
{% block small_header %}edytuj{% endblock small_header %}

{% block body %}

    <form action="{{ path('level_edit', {'id': level.id, 'building_id': building_id}) }}" method="POST" novalidate="novalidate">

        {{ form_row(edit_form.name, {'label': 'Nazwa'}) }}
        {{ form_row(edit_form.description, {'label': 'Opis'}) }}
        {{ form_row(edit_form.color, {'label': 'Kolor'}) }}

        {{ form_rest(edit_form) }}

        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-lg btn-block" />

    </form>

    <br/>

    <a href="{{ path('level_index', {'building_id': level.building.id}) }}" class="btn btn-lg">Powrót do listy</a>

{% endblock %}
