{% extends 'base.html.twig' %}

{% block page_header %}Kondygnacja{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block menu_item %}

    <li>
        <a href="{{ path('level_index', {'building_id': level.building.id}) }}"><i class="fa fa-fw  fa-list"></i> Kondygnacje</a>
    </li>
    <li>
        <a href="{{ path('zone_index', {'building_id': level.building.id})  }}"><i class="fa fa-fw  fa-circle"></i> Strefy</a>
    </li>
    <li>
        <a href="{{ path('room_index') }}"><i class="fa fa-fw  fa-square-o"></i> Pomieszczenia</a>
    </li>

{% endblock menu_item %}

{% block body %}
    {#    <h1>Level</h1>#}

    <div class="col-lg-6">
        <div class="table-responsive">
            <table class ="table table-hover">
                <tbody>
                    <tr>

                        <th bgcolor="{{ level.color }}" colspan="2" style="text-align:center">Kondygnacja {{ level.name }}</th>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ level.description }}</td>
                    </tr>
                    <tr>
                        <th>Level NBA Total</th>
                        <td>{{ level.calculateLevelNBA() }} m<sup>2</sup></td>
                    </tr>

                    <tr>
                        <th>Populacja</th>
                        <td>{{ level.calculatePeopleOnLevel() }}</td>
                    </tr>

                    <tr>
                        <th>Pomieszczenia</th>
                        <td>
                            <ul>
                                {% for room in level.rooms %}
                                    <li>{{ room.number }} | {{ room.name }} | {{ room.area }} m<sup>2</sup></li>
                                    {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <ul>
            <li>
                <a href="{{ path('level_index', {'building_id': level.building.id}) }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('level_edit', {'id': level.id, 'building_id': level.building.id}) }}">Edit</a>
            </li>
        </ul>
    </div>
    <div align="center">
        {% block img %}
            <img src="{{ asset('img/PieChart.png') }}" width="50%" height="50%"/>
        {% endblock %}
    </div>
{% endblock %}
