{% extends 'base.html.twig' %}

{% block page_header %}Budynek{% endblock page_header %}
{% block small_header %}edytuj{% endblock small_header %}

{% block body %}

    <form action="{{ path('building_edit', {'id': id}) }}" method="POST" novalidate="novalidate">

        {{ form_row(edit_form.name, {'label': 'Nazwa'}) }}
        {{ form_row(edit_form.NBAFactor, {'label': 'Współczynnik NBA'}) }}
        {{ form_row(edit_form.coordinates, {'label': 'Lokalizacja /współrzędne'}) }}
        {{ form_row(edit_form.description, {'label': 'Opis'}) }}
        {{ form_row(edit_form.team) }}

        {{ form_rest(edit_form) }}

        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-lg btn-block"/>

    </form>

    <br/>

    <a href="{{ path('building_index') }}" class="btn btn-lg">Powrót do listy</a>

{% endblock %}
