{% extends 'base.html.twig' %}

{% block page_header %}Budynki{% endblock page_header %}
{% block small_header %}wszystkie{% endblock small_header %}

{% block body %}
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class ="table table-hover">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ilość kondygnacji</th>
                        <th>Współrzędne</th>
                        <th>Pomieszczenia</th>
                        <th>Team</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr>
                            <th>{{ building.name }}</th>
                            <td>{{ building.levels | length }}</td>
                            <td>
                                <a href="http://www.google.com/maps/place/{{building.coordinates}}" target="_blank">{{ building.coordinates }}</a>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('all_rooms_by_level', { 'id': building.id }) }}">wg kondygnacji</a>
                                    </li>

                                    <li>
                                        <a href="{{ path('all_rooms_by_zone', { 'id': building.id }) }}">wg strefy</a>
                                    </li>
                                </ul>
                            </td>
                            
                            <td>
                                {{ building.team.name }}
                            </td>

                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('building_show', { 'id': building.id }) }}">szczegóły</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('building_edit', { 'id': building.id }) }}">edytuj</a>
                                    </li>
                                    <li>
                                        <a class="askdelete" href="{{ path('building_delete', {'id': building.id}) }}">usuń</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <ul>
            <li>
                <a href="{{ path('building_new') }}">Dodaj nowy budynek</a>
            </li>
        </ul>
    </div>
{% endblock %}
