{% extends 'base.html.twig' %}

{% block page_header %}Budynek{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block body %}
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class ="table table-hover">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ building.name }}</td>
                    </tr>
                    <tr>
                        <th>GBA</th>
                        <td>{{ building.calculateBuildingGBA }} m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th>NBA</th>
                        <td>{{ building.calculateBuildingNBA() }} m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th>współczynnik NBA</th>
                        <td>{{ building.NBAFactor }}</td>
                    </tr>
                    <tr>
                        <th>Współrzędne</th>
                        <td><a href="http://www.google.com/maps/place/{{building.coordinates}}" target="_blank">{{ building.coordinates }}</a></td>
                    </tr>
                    <tr>
                        <th>Opis</th>
                        <td>{{ building.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12">
        <ul>
            <li>
                <a href="{{ path('building_index') }}">Powrót do listy</a>
            </li>
            <li>
                <a href="{{ path('building_edit', { 'id': building.id }) }}">Edytuj</a>
            </li>

        </ul>
        {{ form_start(delete_form) }}
        <input type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
