{% extends 'base.html.twig' %}

{% block page_header %}Użytkownicy{% endblock page_header %}
{% block small_header %}wszyscy{% endblock small_header %}

{% block body %}
    {#    <h1>Users list</h1>#}

    <div class="col-lg-12">
        <div class="table-responsive">
            <table class ="table table-hover">
                <thead>
                    <tr>
                        <th>Nazwa użytkownika</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            {#                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>#}
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('user_show', { 'id': user.id }) }}">szczegóły</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('add_user_to_team', { 'id': user.id }) }}">dodaj do zespołu</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
