{% extends 'base.html.twig' %}

{% block page_header %}Użytkownik{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block body %}
    {#    <h1>User</h1>#}

    <div class="col-lg-6">
        <div class="table-responsive">
            <table class ="table table-hover">
                <tbody>
                    <tr>
                        <th>Użytkownik</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Teams</th>
                        <td>
                            <ul>
                                {% for team in user.teams %}
                                    <li>{{ team.name }}</li>
                                    {% endfor %}
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12">

        <a href="{{ path('user_index') }}">Powrót do listy | </a>

        <a href="{{ path('user_edit', { 'id': user.id }) }}">Edytuj</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
