{% extends 'building/show.html.twig' %}


{% block page_header %}Pomieszczenie{% endblock page_header %}
{% block small_header %}edytuj{% endblock small_header %}

{% block menu_item %}
    {{ parent() }}
{% endblock menu_item %}

{% block body %}

    <form action="{{ path('room_edit', {'id': room.id, 'building_id': building_id}) }}" method="POST" novalidate="novalidate">

        {{ form_row(edit_form.number, {'label': 'Numer'}) }}
        {{ form_row(edit_form.name, {'label': 'Nazwa'}) }}
        {{ form_row(edit_form.area, {'label': 'Powierzchnia'}) }}
        {{ form_row(edit_form.minHeight, {'label': 'Minimalna wysokość'}) }}
        {{ form_row(edit_form.maxPersonAmount, {'label': 'Ilość osób w pomieszczeniu'}) }}
        {{ form_row(edit_form.accessControl, {'label': 'Kontrola dostępu'}) }}
        {{ form_row(edit_form.level, {'label': 'Kondygnacja'}) }}
        {{ form_row(edit_form.zone, {'label': 'Strefa'}) }}
        {{ form_row(edit_form.requirements, {'label': 'Wymagania / opcjonalnie'}) }}
        {{ form_row(edit_form.description, {'label': 'Opis'}) }}
        {{ form_row(edit_form.myRooms, {'label': 'Połączone z pomieszczeniami:'}) }}

        {{ form_rest(edit_form) }}

        <input type="submit" value="Utwórz" class="btn btn-primary btn-lg btn-block" />

    </form>

    <br/>

    <a href="{{ path('room_index', {'building_id': building_id}) }}" class="btn btn-lg">Powrót do listy</a>

{% endblock %}
