{% extends 'building/show.html.twig' %}


{% block page_header %}Pomieszczenie{% endblock page_header %}
{% block small_header %}dodaj{% endblock small_header %}

{% block menu_item %}
    {{ parent() }}
{% endblock menu_item %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('room_index', { 'building_id': building_id }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
