{% extends 'base.html.twig' %}

{% block page_header %}Strefa{% endblock page_header %}
{% block small_header %}edytuj{% endblock small_header %}

{% block body %}

    <form action="{{ path('zone_edit', {'id': zone.id, 'building_id': zone.building.id}) }}" method="POST" novalidate="novalidate">

        {{ form_row(edit_form.name, {'label': 'Nazwa'}) }}
        {{ form_row(edit_form.color, {'label': 'Kolor'}) }}
        {{ form_row(edit_form.description, {'label': 'Opis'}) }}

        {{ form_rest(edit_form) }}

        <input type="submit" value="Utwórz" class="btn btn-primary btn-lg btn-block" />

    </form>

    <br/>

    <a href="{{ path('zone_index', {'building_id': zone.building.id}) }}" class="btn btn-lg">Back to the list</a>

{% endblock %}
