{% extends 'base.html.twig' %}

{% block page_header %}Strefa{% endblock page_header %}
{% block small_header %}wszystkie{% endblock small_header %}

{% block body %}
    {#    <h1>Zones list</h1>#}

    <div class="col-lg-12">
        <div class="table-responsive">
            <table class ="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>

                        <th># kolor</th>
                        <th>Pomieszczenia</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for zone in zones %}
                        <tr>
                            <td><a href="{{ path('zone_show', { 'id': zone.id }) }}">{{ zone.id }}</a></td>
                            <td>{{ zone.name }}</td>

                            <td bgcolor="{{ zone.color }}"></td>
                            <td>
                                <ul>
                                    <li><a href="{{ path('all_rooms_in_zone', { 'id': zone.id }) }}">pokaż wszystkie</a></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('zone_show', { 'id': zone.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('zone_edit', { 'id': zone.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('zone_new') }}">Create a new zone</a>
        </li>
    </ul>
{% endblock %}
