{% extends 'building/show.html.twig' %}

{% block page_header %}Strefy{% endblock page_header %}
{% block small_header %}wszystkie{% endblock small_header %}

{% block menu_item %}
    {{ parent() }}
{% endblock menu_item %}

{% block body %}

    <div class="col-lg-12" align="center">
        <canvas id="chart" width="1500" height="500">
            Twoja przeglądarka nie obsługuje HTML5. Niektóre elementy mogą być niewidoczne.
        </canvas>
    </div>

    <div class="col-lg-12">
        <div class="table-responsive">
            {% if (zones | length) == 0 %}
                <p>Brak stref w tym budynku</p>
            {% else %}
                <table class ="table table-hover">
                    <thead>
                        <tr>

                            <th>Nazwa</th>

                            <th># kolor</th>
                            <th>NBA [m<sup>2</sup>]</th>
                            <th>Populacja</th>
                            <th>Pomieszczenia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for zone in zones %}
                            <tr data-chart="true" data-name="{{ zone.name }}" data-color="{{ zone.color }}" data-area="{{ zone.calculateZoneNBA() }}">

                                <td>{{ zone.name }}</td>

                                <td style="background-color:{{ zone.color }}"></td>
                                <td>{{ zone.calculateZoneNBA() }} m<sup>2</sup></td>
                                <td>{{ zone.calculatePeopleInZone() }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('all_rooms_in_zone', { 'id': zone.id, 'building_id': zone.building.id }) }}">pokaż wszystkie</a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('zone_show', { 'id': zone.id, 'building_id': zone.building.id }) }}">szczegóły</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('zone_edit', { 'id': zone.id, 'building_id': zone.building.id }) }}">edytuj</a>
                                        </li>
                                        <li>
                                            <a class="askdelete" href="{{ path('zone_delete', { 'id': zone.id, 'building_id': zone.building.id }) }}">usuń</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% endif %}
        </div>
    </div>

    <a href="{{ path('zone_new', {'building_id': building_id}) }}">Dodaj nową strefę</a>


{% endblock %}
