{% extends 'building/show.html.twig' %}

{% block page_header %}Strefa{% endblock page_header %}
{% block small_header %}dodaj{% endblock small_header %}

{% block menu_item %}
    {{ parent() }}
{% endblock menu_item %}

{% block body %}

    <form action="{{ path('zone_new', {'building_id': building.id}) }}" method="POST" novalidate="novalidate">

        {{ form_row(form.name, {'label': 'Nazwa'}) }}
        {{ form_row(form.color, {'label': 'Kolor'}) }}
        {{ form_row(form.description, {'label': 'Opis'}) }}
        
        {{ form_rest(form) }}

        <input type="submit" value="Utwórz" class="btn btn-primary btn-lg btn-block" />

    </form>

{% endblock %}
