{% extends 'base.html.twig' %}

{% block page_header %}Strefa{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block body %}
{#    <h1>Zone</h1>#}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ zone.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ zone.description }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ zone.color }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zone_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zone_edit', { 'id': zone.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
