{% extends 'base.html.twig' %}

{% block page_header %}Strefa{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block menu_item %}

    <li>
        <a href="{{ path('level_index', {'building_id': zone.building.id}) }}"><i class="fa fa-fw  fa-list"></i> Kondygnacje</a>
    </li>
    <li>
        <a href="{{ path('zone_index', {'building_id': zone.building.id})  }}"><i class="fa fa-fw  fa-circle"></i> Strefy</a>
    </li>
    <li>
        <a href="{{ path('room_index', {'building_id': zone.building.id}) }}"><i class="fa fa-fw  fa-square-o"></i> Pomieszczenia</a>
    </li>

{% endblock menu_item %}

{% block body %}
    {#    <h1>Zone</h1>#}

    <div class="col-lg-6">
        <div class="table-responsive">
            <table class ="table table-hover">
                <tbody>
                    <tr>

                        <th bgcolor="{{ zone.color }}" colspan="2" style="text-align:center">{{ zone.name }}</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ zone.description }}</td>
                    </tr>
                    <tr>
                        <th>zone NBA</th>
                        <td>{{ zone.calculateZoneNBA() }} m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th>Populacja</th>
                        <td>{{ zone.calculatePeopleInZone() }}</td>
                    </tr>
                    <tr>
                        <th>Pomieszczenia</th>
                        <td>
                            {% for room in zone.rooms %}
                    <li>{{ room.number }} | {{ room.name }} | {{ room.area }} m<sup>2</sup></li>
                    {% endfor %}
                </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12">
        <ul>
            <li>
                <a href="{{ path('zone_index', {'building_id': zone.building.id}) }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('zone_edit', { 'id': zone.id, 'building_id': zone.building.id }) }}">Edit</a>
            </li>

        </ul>
    </div>

{% endblock %}
